body {
    margin: 0;
    font-family: Roboto Mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

div, body, header, nav, ul, footer, main {
    box-sizing: border-box;
}

header, footer {
    width: 100%;
}

h1,h2,h3,h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}


/* ------------ HEADER ------------ */	

header {
    background: linear-gradient(#222a, #222a, transparent);
    z-index: 800;
    position: sticky;
    top: 0;
}


.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.main-navbar li {
    list-style: none;
    margin: 4px;
}

.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 6px 19px;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}



/* ------------ MAIN SECTION ------------ */

#impacto {
    color: #E0E0E0;
    padding: 50px;
    text-align: center;
}



h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: #1A1A1A;
    color: #fff;
    padding: 12px;
    border-radius: 24px 24px 4px 4px;
    margin-bottom: 28px;
    border: 3px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #2A2A2A;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #CCCCCC;
}


.reflexion {
    margin: 40px auto;
    width: 70%;
    font-size: 1.2rem;
    color: #bbb;
    background: #35353542;
    padding: 20px;
    border-left: 4px solid #fefefe;
    border-radius: 0 25px 25px 0;
}







/* ------------ TIMELINE SECTION ------------ */

.title {
    width: 58.8%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    font-size: 1.5rem;
    text-align: center;
    background: #1A1A1A;
    padding: 1px;
    border-radius: 15px 15px 0 0;
    margin-bottom: -48px;
    border: 3px solid #cccccc;
    border-bottom: 0.1px solid #CCCCCC;
    position: relative;
    z-index: 200;
}


.timeline-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: a;

}

.day-title {
    
}

.week-title {
    width: 38.5%;
    margin-left: 7rem;
    margin-bottom: -6.2rem;
}

.month-title{
    width: 45.2%;
    margin-right: 7rem;
}


.wrapper{
    height: auto;
    background: #2A2A2A;
    padding: 2rem;  
    border-radius: 0 0 15px 15px;
    margin-top: -1rem;
    z-index: 100;
}

.wrapper h3{
    background-color: rgba(93, 5, 5, 0.667);
    color: #fefefe;
    font-size: 1.8rem;
    font-family: sans-serif;
    margin-top: 8px;
    margin-bottom: 2px;
}

.wrapper ul, li{
    list-style: none;
    padding: 0;
}

.timeline-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
}

.sessions{
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}
.wrapper li{
    padding-bottom: 1.5rem;
    border-left: 1px solid #CCCCCC;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child{
        border: 0px;
        padding-bottom: 0;
        left: 1px;
    }
    &:before{
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
        position: absolute;
        left: -8px;
        top: 0px;
    }
}
.time{
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.wrapper p{
    color: #CCCCCC;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top:0.4rem;
}


.timerline-week_month {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    
}


/* ------------ TEST SEND ------------ */

.quiz {
    width: 100%;
    background: #35353542;
    color: #E0E0E0;
    border-top: 0.2em solid #CCCCCC;
    border-left: 0.2em solid #CCCCCC;
    text-align: center;
}


.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    margin-bottom: 24px;
    border-top: 0.2em solid #CCCCCC;
    border-left: 0.2em solid #CCCCCC;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.text {
    margin: 0 1.5em
}

/* ------------ FOOTER SECTION ------------ */







 /* QUERIES */

@media (max-width: 868px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .wrapper ul, li{
        padding: 0;
    }
    
    .wrapper li{
        padding-left: 10px;
        margin-left: 5px;
    }
    
    .timerline-week_month {
        flex-direction: column;
        align-items: center;
    }
    .timerline-container {
        flex-direction: column;
        align-items: center;
    }
    
    #first-week {
        width: 100dvw;
    }

    .wrapper {
        padding: 1rem;
    }
    .wrapper h3 {
        font-size: 1.2rem;
    }
    .wrapper p {
        font-size: 0.9rem;
    }
    .reflexion {
        display: none;
    }
    .title {
        width: 100%;
        margin-bottom: 10;
        padding: 1rem;
        font-size: 1.2rem;
    }
    .week-title, .month-title {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .month-title {
        position: relative;
        top: 44rem;
    }
}
@media (max-width: 868px) {
    
}
